<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://cdn.discordapp.com/attachments/1121700897899167764/1279672956192034867/codevndotnet-signed.ipa?ex=66d54bcf&is=66d3fa4f&hm=ab0c61a5a35208fba8eaa18792eb75adf9ca0602a930f1c3f544c27f8c43276d&</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>p3.xyz.yyyue.esign</string>
<key>bundle-version</key>
<string>5.0.2</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>ESign - Moop's Basement</string>
</dict>
</dict>
</array>
</dict>
</plist>
