<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://github.com/moop100/RandomAHHRobloxExploitsStorage/releases/download/robloxexploits/AXRizhao.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://media.discordapp.net/attachments/1142388443343749160/1219622461360832572/e659d7aac143481792059e1d05186040.png?ex=660bf8ee&is=65f983ee&hm=6d5014be03ebbaa64e664804ed4cb4093e21bf6ab2b0d090fb46d79bdde91b65&=&format=webp&quality=lossless</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>Arceus X - Moop</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.spdm.ArceusX</string>
<key>bundle-version</key>
<string>1</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Unc0ver</string>
</dict>
</dict>
</array>
</dict>
</plist>